<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between ps-3 pe-3">
  <a class="navbar-brand pl-5" href="/">Event Planner</a>
  <a href="/events/new" class="btn btn-primary">New Event</a>
</nav>
