<div class="d-flex flex-row align-items-center justify-content-center gap-1 mt-5" style="max-width: 1300px; flex-wrap: wrap;">
  {{#each events}}
    <div class="card rounded" style="max-width: 400px;">
      <div class="card-header">
        Event
      </div>
      <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">{{this.title}}</h2>
        <p class="card-text">{{this.description}}</p>
        <a href="#" class="btn btn-primary">RSVP</a>
        <a href="#" class="btn btn-primary">View</a>
      </div>
    </div>
  {{/each}}
</div>
