<div class="d-flex flex-row align-items-center justify-content-center" style="max-width: 1300px; flex-wrap: wrap;">
  {{#each events}}
    <div class="card rounded m-2" style="width: 350px; height: 350px;">
      <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title h4">{{this.title}}</h2>
        <p class="card-text">{{this.description}}</p>
      </div>
      <div class="card-footer">
        <a href="/events/{{this.id}}" class="btn btn-primary w-100 align-self-center">VIEW</a>
      </div>
    </div>
  {{/each}}
</div>
