<div class="card">
  <div class="card-header">
    <h1 class="card-title">New Event</h1>
  </div>
  <div class="card-body">
    <form method="POST" action="/events">
      {{> events-form }}
    </form>
  </div>
</div>
